.drawerlayout {
    /* position: sticky;
    top: 125px;
    overflow-y: scroll; /* Enable vertical scrolling */
    /* left: 0; */ 
    position: sticky;
    top: 125px;
    left: 0;
    opacity: 1;
    width: 500px; /* Adjust the width as needed */
    height:100%; /* Set the height to full viewport height */
    background-color: grey;
    z-index: 2; /* Make sure the drawer appears on top of other content */
    transition: transform 0.3s ease-in-out;
  }
  
  .timeicon {
    color: white;
    position: absolute;
    top: 10px; /* Adjust the top value as needed */
    right: 10px;
  }
  

