.main {
  color: black;
  width: 20vw;
  align-items: first baseline;
  margin:0 !important;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  }
.search{
    width: 15vw;
    background-color: #0C1725;
    color:white ;
    
    border-radius: 0.5vw;
    height: 3vh;
    margin-top: 2vh;
    margin-left: 0.1vw;
  }
.searchinput{
    width: 15vw;
    height: 3vh;
    background-color: aliceblue;
  }
  
    .hr {
      width: 1.5vw;
      height: 0.5vh;
      margin-top: 35px;
      background-color: #F5976B;
    }

.flex {
  display: flex;
  margin-left: 0px;
 
}
.keywordSearch {
    display: flex;
      flex-direction: column;
      align-items: center;
    }
.country{
  width: 15vw;
  height: 3vh;
  background-color: aliceblue;
}
.row {
  display: flex;
  width: 15vw;
  justify-content: left;
  gap: 11px;
  
}

.sizeinput {
    width: 3vw;
      height: 3vh;
      background-color: aliceblue;
    }

.updown {
      display: flex;
        flex-direction: column;
      }
.p1{
  margin-bottom: 20px;
  width: 15vw;
}
.checkboxstyle{width:40vw;
  height:20vh;margin-top:2rem;
  border:2px solid grey;overflow-y:scroll}
@media (max-width<=767px) {
  .checkboxstyle{width:20vw;
    height:20vh;margin-top:2rem;
    border:2px solid grey;overflow-y:scroll}
 
}











