.main {
  position: relative;
  color: black;
  width: 20vw;
  align-items: first baseline;
  margin:0 !important;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 1.2rem;
  /* overflow-y: scroll; */
  }
.search{
    background-color: #182E49;
    font-weight: bolder;
    color:white ;
    border-radius: 0.5vw;
    height: 5vh;
    margin-left: 0.1vw;
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
    padding: 1rem !important;
  }
.searchinput{
    height: 3vh;
    border-radius: 0.5rem;
    padding-left: 1rem;
  }
 
     /* .hr {
      width: 1.5vw;
      height: 0.5vh;
      margin-top: 35px;
      background-color: #F5976B;
    }   */

.flex {
  display: flex;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  position: relative;
 
}

.keywordSearch {
  width: 55%;
    display: flex;
      align-items: center;
      justify-content: space-between;
    }
.country{
  width: 15vw;
  height: 3vh;
  background-color: aliceblue;
}
.row {
  display: flex;
  width: 15vw;
  justify-content: left;
  gap: 11px;
  
}

.sizeinput {
    width: 3vw;
      height: 3vh;
      background-color: aliceblue;
    }

.updown {
      display: flex;
        flex-direction: column;
      }
.p1{
  margin-bottom: 20px;
  width: 15vw;
}
.checkboxstyle{width:40vw;
  height:20vh;margin-top:2rem;
  border:2px solid grey;overflow-y:scroll}
@media (max-width<=767px) {
  .checkboxstyle{width:20vw;
    height:20vh;margin-top:2rem;
    border:2px solid grey;overflow-y:scroll}
 
}











